body{
    background-color: dimgrey;
    font-family: "Oswald", sans-serif;
}
.pradzia{
    margin: 1px auto;
}
.which{
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 50px;
}
.which h3{
    font-size: 19px;
    color: darkorange;
    width: 70%;
    margin: 1px auto;
    vertical-align: top;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

    
}
.photos{
    display: inline-block;
    text-align: center;
}
.photos img{
    height: 250px;
    width: 100%;
}
.wrapper{
    border: 1px solid white;
    width: 21%;
    display: inline-block;
    margin: 20px;
}
.wrapper h2{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: orange;
}
.wrapper .icons img{
    height: 40px;
    width: 40px;
}
.wrapper .icons{
    display: inline-block;
}
.about{
    text-align: center;
    font-size: 25px;
    color: orange;
    margin: 20px 1%;
}
.paskutinis{
    text-align: center;
    font-size: 20px;
    color: white;
    width: 70%;
    margin: auto;
}
.viskas{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}